{%extends 'base.html'%}
{%load static%}

{% block title %}
    Edit Profile
{% endblock %}


{%block body_block%}
            
            
                <h3 class="text-center ">Edit Profile</h3>
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                   <div class="grid grid-cols-2 gap-3 lg:p-6 p-4">
                        <div class="col-span-2">
                            <label for=""> Profile Image :</label>
                            <img width="100" height="100" src="{{user_profile.profile_pic.url}}"/>
                            <input type="file" name="image" value="" class="shadow-none bg-gray-100 form-control">
                        </div>
                        <div class="col-span-2">
                            <label for="about">Bio :</label>  
                            <textarea id="about" name="bio" rows="3"  class="shadow-none bg-gray-100 form-control">{{user_profile.bio}}</textarea>
                        </div> 
                        <div class="col-span-2">
                            <label for=""> Location :</label>
                            <input type="text" name="location" value="{{user_profile.location}}" class="shadow-none bg-gray-100 form-control">
                        </div>
                   </div> 
                    <span class="input-group-text fw-bold" id="basic-addon1"><button type="submit" class="btn btn-outline-success form-control"> Save </button>
                       <button class="btn btn-outline-danger form-control"><a href="{% url 'profile' %}" style="text-decoration: none;">Cancel</a></button></span>
                   
                </form>
           
       
{%endblock%}





